body {
    font-family: arial;
    color: #338;
}

h1 {
    background-color: violet;
    font-size: 32pt;
    font-style:normal;
    font-family:sans-serif;
}

.button {
    font-family: arial;
    background-color: #000;
    color: #fff;
    width: 689px;
    height: 284px;
    padding-bottom: 2pt;
    padding-left: 5pt;
    padding-right: 5pt;
    text-decoration: none;
    margin: 1pt;
}

.clock {
    font-family: cursive;
    font-size: 18pt;
    margin-top: 5px;
}

#home {
    font-family: arial;
    color: rgb(71, 111, 8);
}

#about {
    font-family: arial;
    color: rgb(171, 11, 8);
}

#picture {
    background-image: url("/assets/babyturtle.png");
    width: 689px;
    height: 284px;
}
